.profile-modal {
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;

  &-body {
    width: 400px;
    max-height: 500px;
    height: auto;
    background: #fff;
    overflow-x: hidden;
    padding: 1rem;
    border-radius: 0.3rem;
    overflow-y: auto;
  }
}

.profile-user {
  text-align: center;
  margin: 0.3rem auto;

  &-image {
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0.2rem #ccc;
    padding: 0.5rem;
  }
}

.profile-field {
  border: 1px solid #ccc;
  margin: 0.4rem 0;
  padding: 0.2rem 0.4rem;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}
